body{
    background:
            linear-gradient(to right, #b6c3a5, #ffc2a3);
}

h1{
    border-block: thick dotted #fff6ed;
    background:
            linear-gradient(to right,#b6c3a5, #fff6ed, #ffc2a3);
    font: italic 3.2em "Fira Sans", serif;
    color: #b87b82;
    text-align: center;
}

.task{
    text-align: center;
}

input[type="text"]{
    width: 20em;
    font: normal 1.2em "Fira Sans", serif;
    border-radius: 0.5em;
    border-color: #b87b82;
    margin-bottom: 1em;
    padding: 10px;
}

input.add{
    height: 2.35em;
    font: normal 1.2em "Fira Sans", serif;
    background: #8bb2a0;
    border-radius: 0 0.5em 0.5em 0;
    margin-left: -1em;
    margin-bottom: 1em;
    border-color: #b87b82;
    color: #fff6ed;
    padding-right: 10px;
}


.list{
    text-align: center;
    list-style: none;
    height: 30em;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul{
    display: table;
    margin: 0 auto;
    text-align: left;
}

li{
    list-style-type: none;
    width: 35em;
    height: 2.5em;
    border: 0.1em solid #b87b82;
}

li:nth-child(even){
    background: #fff6ed;
}

li:nth-child(odd){
    background: #ffc2a3;
}


.checkbox.style {
    display: inline-block;
    position: relative;
    padding-left: 2.2em;
    cursor: pointer;
    user-select: none;
}

/* Скрываем стандарный input */
.checkbox.style input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Если checked, то .checkmark становится */
.checkbox.style input:checked ~ .checkmark {
    background-color: transparent;
}

/* Если checked, то отметка-галочка применяет данные стили */
.checkbox.style input:checked ~ .checkmark:after {
    opacity: 1; /* отображаем отметку-галочку */
}

/* При наведении */
.checkbox.style:hover input ~ .checkmark {
    background-color: #b6c3a5;
}

/* При наведении и при отмеченном input */
.checkbox.style:hover input:checked ~ .checkmark {
    background-color: transparent;
    transform: scale(1.2);
}

/* Исходные стили для области отметки */
.checkbox.style .checkmark {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    height: 1.5em;
    width: 1.6em;
    background-color: transparent;
    border: 1px solid transparent;
    transition: background-color 0.25s ease;
    border-radius: 0.2em;
}

/* Исходные стили для отметки  */
.checkbox.style .checkmark:after {
    content: "";
    position: absolute;
    left: 0.5em;
    top: 0;
    width: 0.5em; /* ширина - длина левой линии отметки-галочки */
    height: 1em; /* высота - длина правой линии отметки-галочки */
    border: solid #8bb2a0;
    border-width: 0 0.2em 0.2em 0;
    transform: rotate(45deg); /* блок наклонен по часовой стрелке на 45 градусов */
    opacity: 0; /* изначально скрыта */
    transition: opacity 0.25s ease; /* для плавного появления, скрытия, перемещения отметки*/
}

/* Исходные стили для body*/
.checkbox.style .body {
    font-size: 1.8em;
}

.checkbox.style input:checked ~ .body{
    text-decoration: line-through;
}

input.del[type="button"]{
    font: bold 1.4em sans-serif;
    border: thin #fff6ed;
    background: transparent;
    position: sticky;
    left: 50em;
    color: #b87b82;
}


